$dark: #3c4040;
$dark-trans: rgba(60, 64, 64, 0.7);
// $dark-trans: #4f5454;
$light: #efe6dd;
$light-trans: rgba(239, 230, 221, 0.7);
// $light-trans: #fdf5ec;
$gold: #c19e47;
$gold-t: rgba(193, 158, 71, 0.7);
$fail: #ff7070;
$fail-t: rgba(255, 112, 112, 0.7);
$info: #4f8dcf;
$info-t: rgba(79, 141, 207, 0.7);
$success: #5cb270;
$success-t: rgba(92, 178, 112, 0.7);
/* Brand Colours*/
$Insight1: #db1f26;
$Insight2: #000000;
$Insight3: #ffffff;
$Insight-Grad: linear-gradient(
  0deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(219, 31, 38, 1) 100%
);
